<%= render 'shared/errors', obj: @student %>

<h1 align='center'><%= @student.name %>'s page:</h1>

<p>Email: <%= @student.email %></p>

<%= link_to 'Edit student', edit_student_path(@student) %>

<h3><%= @student.name %>'s courses:</h3>
<ul>
	<% @student.courses.each do |course| %>
		<li><%= course.name %>, duration: <%= course.duration %></li>
	<% end %>
</ul>

<%= link_to 'Add course', new_student_student_course_path(@student) %>

<%= link_to 'Destroy Student', student_path(@student), method: :delete, 
	data: { confirm: "Are you sure?" } %>